
body {
  font-family: Nunito, sans-serif;
  background-color: #171C2D;
  color: #F7F8FE;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 56px;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 50px 0px 12px 0px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
}

h3 {
  font-size: 26px;
  font-weight: 800;
}

p {
  font-size: 20px;
  font-weight: 400;
}

h4 {
  font-size: 48px;
  font-weight: 300;
  margin: 4px;
}

.headerText {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 16px;
  margin: 20px;
}

.selectedInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moreInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 68px;
}


#genderData {
  display: flex;
  align-items: center;
  gap: 40px;
}

.chart {
  width: 60vw;
  height: 60vh;
}

#rankingTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

#rankingMiddle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

#rankingBottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

input[type="date"] {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  ;
  padding: 8px;
  border-radius: 4px;
  border: 4px solid #c9ccda;
  background-color: #c9ccda;
  color: #111420;
  margin: 20px;
}

#mostPlayed {
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

#topThree {
  display: flex;
  align-items: center;
  gap: 104px;
}

.songImage {
  width: 216px;
  height: 216px;
  border-radius: 8px;
}

.artistInfo{
  display: flex;
  gap: 8px;
}

/* Tablet (768px to 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .logo {
    width: 64px;
    height: 97px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 48px;
  }

  p {
    font-size: 18px;
  }

  .songImage {
    width: 144px;
    height: 144px;
  }
}

/* Mobile (0 to 767px) */
@media (max-width: 768px) {
  .logo {
    width: 40px;
    height: 61px;
  }
  .header {
    align-items: center;
  }
.questionMark{
  width: 20px;
  height: 20px;
}
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 13px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
  }

  #genderData {
    flex-direction: column;
    align-items: flex-start;
  }

  .songImage {
    width: 104px;
    height: 104px;
  }

  #topThree {
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
  }

  .mostPlayed {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  #mostPlayed {
    align-items: flex-start;
  }

  .mostPlayedInfo {
    display: flex;
    flex-direction: column;
  }

  input[type="date"] {
    font-size: 12px;
    height: 60%;
  }
  .moreInfo{
    padding: 0px;
  }
}